body,html{
  color:white;
  background-color:#28df99;
}
@media screen and (min-width:320px)
{
  .title-cr{
    color:white;
    font-size: 2rem;
    margin-top: 0;
    font-family: sans-serif;
    text-decoration: underline;
    padding: 1rem;
      padding-left: 2.5rem;
      margin-bottom: 0;
    }
    .follow-up{
      font-family: sans-serif;
      text-decoration: underline;
      padding: 1rem;
      padding-top: 0;
        padding-left: 2.5rem;
        color:white;
        font-size: 1rem;


    }
    .card1{
      padding-left: 1rem;
    }
    .card-header{
      text-align: center;
      font-size: 2rem;
    }
    footer{
      text-align: center;
      background-color: white;
      color:black;
      font-size: 0.75rem;
      margin-top:4rem;
    }
  }
@media screen and (min-width:375px) {
  footer{
    margin-top:7rem;
  }
  .card1{
    padding-left: 1.75rem;
  }
}
