
.navbar{
  background-color: #28df99;
}
.nav-item1{
font-size: 3rem;
}
.nav-item2{
  font-size: 2rem;
  padding-top: 1rem;
}
.form-inline{
  padding-top: 1rem;
}
.image1{text-align:center;
    background-color: #28df99;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius:50%;
}
.img1{
      border-radius:50%;
}
.card-body{
    background-color: #28df99;
    border-radius: 1%;
}
@media screen and (max-width:600px)
 {
  .nav-item1
  {
  font-size: 2rem;
  }
  .nav-item2{
    font-size: 1rem;
    padding-top: 0.5rem;
  }
  .form-inline{
    padding-top: 1rem;
  }
  .image1{text-align:center;
      background-color: #28df99;
      padding-bottom: 1rem;
      padding-top: 1rem;
      border-radius:35%;
  }
}
@media screen and (max-width:992px)
{
  .nav-item1
  {
  font-size: 2rem;
  }
  .nav-item2{
    font-size: 1rem;
    padding-top: 0.5rem;
  }
  .form-inline{
    padding-top: 1rem;
  }
}
